.navbar{
    display: flex;
    width: 100%;
    max-width: 1920px;
    height: auto;
    padding: 22px 0px;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    background-color: #0B0D3D;
    gap: 10px;
    
}
.navbar-logo{
    width: 70px; 
    height: auto; 
}
.nav-links{
    color: white;
    font-size: 14px;
}
@media screen and (max-width: 1024px) {
    .navbar {
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: center;
      padding: 10px;
    }
  
    .nav-links {
      font-size: 12px;
      padding: 5px 0;
    }
  
    .navbar-logo {
      width: 50px;
    }
    
  }
  
  @media screen and (max-width: 480px) {
    .nav-links {
      font-size: 10px;
    }
  
    .navbar-logo {
      width: 40px;
    }
  }
  @media screen and (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start; 
      padding-left: 20px; 
    }
  
    .nav-links {
      text-align: left; 
      width: 100%; 
      font-size: 14px; 
      margin: 5px 0; 
    }
  
    .navbar-logo {
      align-self: flex-start; 
      margin-bottom: 10px;
    }
  }